body {
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: none;
  border-radius: 15px;
  background-color: rgb(78, 77, 77);
  color:white;
}

.btn-primary {
  background-color: #1976d2;
  border: none;
  
}

.btn-primary:hover {
  background-color: #0d47a1;
}


